@import '../../theme/index.scss';

@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $border-radius) {
    padding: $padding-vertical $padding-horizontal;
    font-size: $font-size;
    border-radius: $border-radius;
}

@include b(button) {

    display: inline-block;
    background: $--button-default-background-color;
    color: $--button-default-font-color;
    border-color: $--button-default-border-color ;
    border: $--border-base;
    white-space: nowrap;
    text-align: center;
    box-sizing: content-box;
    outline: none;
    transform: .1s;
    -webkit-appearance: none;
    cursor: pointer;
    line-height: 1;
    margin: 0;
    font-weight: 500;
    height: 20px;
    @include button-size($--button-padding-vertical, $--button-padding-horizontal, $--button-font-size, $--button-border-radius);

    &:hover,
    &:focus {
        color: $--color-primary;
        border-color: $--color-primary-light-7;
        background-color: $--color-primary-light-9;
    }

    &:active {
        color: mix($--color-black, $--color-primary, 10%);
        border-color: mix($--color-black, $--color-primary, 10%);
        box-shadow: 0px 0px 10px rgba($color: $--color-primary, $alpha: .4);
        outline: none;
    }


    @include when(disabled) {

        &,
        &:hover,
        &:focus {
            box-shadow: 0px 0px 0px transparent;
            color: $--color-text-placeholder;
            background-color: $--color-white;
            border-color: $--color-primary-light-9;
            cursor: not-allowed;
        }
    }

    @include when(dashed) {
        border: $--border-width-base dashed $--border-color-base;
    }

    @include when(round) {
        border-radius: 20px;
        padding: 10px 16px;
    }

    @include when(text) {
        border-width: 0;
        background-color: transparent;
        box-shadow: none;
    }

    @include m(primary) {
        @include button-variant($--button-primary-font-color, $--button-primary-background-color, $--button-primary-border-color);
    }

    @include m(success) {
        @include button-variant($--button-success-font-color, $--button-success-background-color, $--button-success-border-color);
    }

    @include m(warning) {
        @include button-variant($--button-warning-font-color, $--button-warning-background-color, $--button-warning-border-color);
    }

    @include m(danger) {
        @include button-variant($--button-danger-font-color, $--button-danger-background-color, $--button-danger-border-color);
    }

    @include m(info) {
        @include button-variant($--button-info-font-color, $--button-info-background-color, $--button-info-border-color);
    }

    @include m(large) {
        @include button-size($--button-large-padding-vertical, $--button-large-padding-horizontal, $--button-large-font-size, $--button-border-radius);
    }

    @include m(medium) {
        @include button-size($--button-padding-vertical, $--button-padding-horizontal, $--button-font-size, $--button-border-radius);
    }

    @include m(small) {
        @include button-size($--button-small-padding-vertical, $--button-small-padding-horizontal, $--button-small-font-size, $--button-border-radius);
    }

    @include m(mini) {
        @include button-size($--button-mini-padding-vertical, $--button-mini-padding-horizontal, $--button-mini-font-size, $--button-border-radius);
    }
}