@mixin b($block) {
    $B: $namespace+ '-' +$block;

    .#{$B} {
        @content;
    }
}

@mixin m($modifier) {
    $selector: &;
    $currentSelector: '';

    @each $unit in $modifier {
        $currentSelector: #{$currentSelector + $selector + '--' + $unit + ','}
    }

    @at-root {
        #{$currentSelector} {
            @content;
        }
    }
}

@mixin button-variant($color, $background-color, $border-color) {
    color: $color;
    background-color: $background-color;
    border-color: $border-color;



    &:hover,
    &:focus {
        color: $color;
        border-color: mix(#fff, $border-color, 10%);
        background-color: mix(#fff, $background-color, 10%);
    }

    &:active {
        color: mix(#000, $color, 10%);
        border-color: mix(#000, $border-color, 10%);
        background-color: mix(#000, $background-color, 10%);
        box-shadow: 0px 0px 10px rgba($color: $background-color, $alpha: .4);
        outline: none;
    }

    &.is-text {
        border-width: 0;
        color: $--button-default-font-color;
        box-shadow: none;

        &:hover,
        &:focus {
            color: $background-color;
            border-color: transparent;
            background-color: transparent;
        }

        &:active {
            color: $background-color;
            border-color: transparent;
            background-color: transparent;
            outline: none;
        }
    }

    &.is-plain {
        @include button-plain($background-color);
    }

    &.is-disabled {

        &,
        &:hover,
        &:focus,
        &:active {
            box-shadow: 0px 0px 0px transparent;
            color: mix(#fff, $color, 50%);
            background-color: mix(#fff, $background-color, 50%);
            border-color: mix(#fff, $border-color, 50%);
        }

    }
}

@mixin button-plain($color) {
    color: $color;
    border-color: mix(#fff, $color, 60%);
    background-color: mix(#fff, $color, 90%);

    &:hover,
    &:focus {
        color: #fff;
        border-color: $color;
        background-color: $color;
    }

    &:active {
        color: #fff;
        border-color: mix(#000, $color, 10%);
        background-color: mix(#000, $color, 10%);
        outline: none
    }

    &.is-disabled {

        &,
        &:hover,
        &:focus,
        &:active {
            box-shadow: 0px 0px 0px transparent;
            color: mix(#fff, $color, 30%);
            border-color: mix(#fff, $color, 60%);
            background-color: mix(#fff, $color, 90%);
        }
    }
}

@mixin when($state) {
    @at-root {
        #{'&.is-' + $state} {
            @content;
        }
    }
}